@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

.FilterValuesList {
  font-size: 14px;
  font-family: Helvetica;
  .FilteredProductsNumber {
    float: right;
    color: #9b9b9b;
  }
  label {
    cursor: pointer;
    input[type="checkbox"], input[type="radio"] {
      display: none;
      + .LabelContent:before {
        font-family: FontAwesome;
        color: #9b9b9b;
        padding: 0 10px 0 0;
      }
      &:checked + .LabelContent:before {
        color: #56c46a;
      }
    }
    input[type="checkbox"] {
      display: none;
      + .LabelContent:before {
        content: "\f096";
      }
      &:checked + .LabelContent:before {
        content: "\f14a";
      }
    }
    input[type="radio"] {
      + .LabelContent:before {
        content: "\f10c";
      }
      &:checked + .LabelContent:before {
        content: "\f192";
      }
    }
  }
  .FilterValues {
    padding: 0 0 10px 0;
  }
}