.Site {
  width: 100%;

  .Columns {
    display: flex;
    .FilterColumn {
      width: 15%;
    }

    .Separator {
      width: 1px;
      margin: 23px 56px 0 0;
      height: inherit;
      background-color: #9b9b9b;
    }

    .ProductListColumn {
      width: calc(85% - 1px);
    }
  }
}
