.Site {
  width: 100%;

  .FilterColumn {
    width: 15%;
  }

  .ProductListColumn {
    width: 85%;
  }

  .FilterColumn, .ProductListColumn {
    display: inline-block;
    vertical-align: top;
  }
}
