.ProductListViewSettings {
  padding: 13px 0 0 0;
  width: 100px;
  height: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  input {
    color: #9b9b9b;
    height: 14px;
  }
}