$activeHeart: #e53935;
$inactiveHeart: #dadada;
$selectedProduct: #56c47a;
$unselectedProduct: #686666;

.Product {
  display: block;
  font-family: Helvetica;
  width: 195px;
  height: 220px;
  padding: 14px 14px 40px;

  .HeartIconActive, .HeartIconInactive {
    width: 22px;
    height: 19px;
    cursor: pointer;
  }
  .IconRow {
    display: flex;
    justify-content: space-between;
  }
  p {
    font-size: 14px;
  }
  img {
    display: block;
    margin: 25px auto;
  }
  h5 {
    font-weight: bold;
    font-size: 18px;
  }
  p, h5 {
    color: $unselectedProduct;
  }
  h5, img {
    cursor: pointer;
  }
  .HeartIconActive {
    fill: $activeHeart;
  }
  .HeartIconInactive {
    fill: $inactiveHeart;
  }
  &:hover {
    box-shadow: inset 0 0 0 2px #56c47a;
    h5 {
      color: $selectedProduct;
    }
  }
}
