@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

$currentPage: #56c47a;

.Pagination {
  color: #9b9b9b;
  .LeftArrow {
    display: none;
    font-family: FontAwesome;
    color: $currentPage;
    content: "\f053";
  }
  .RightArrow {
    font-family: FontAwesome;
    color: $currentPage;
    content: "\f054";
  }
}